secrets.yaml
__pycache__
node_modules
custom_components/ihc
.config/*.db
.config/*.log
.config/*.log.*
.config/.storage
.config/custom_components
.config/ihc_manual_setup.yaml
.config/blueprints
.config/.HA_VERSION
